#!/usr/bin/env cwl-runner
 class: Workflow
 cwlVersion: v1.0
 doc: 'ChIP-seq 04 quantification - samples: {{ sample_types|join(' and ') }}.'
 requirements:
  - class: ScatterFeatureRequirement
  - class: StepInputExpressionRequirement
  - class: InlineJavascriptRequirement
 inputs:
    input_bam_files:
      type: File[]
{% if "control" in sample_types %}
    input_control_bam_files:
      type: File[]
{% endif %}
    genome_effective_size:
      default: hs
      doc: Effective genome size used by MACS2. It can be numeric or a shortcuts:'hs' for human (2.7e9), 'mm' for mouse (1.87e9), 'ce' for C. elegans (9e7) and 'dm' for fruitfly (1.2e8), Default:hs
      type: string
    input_genome_sizes:
      doc: Two column tab-delimited file with chromosome size information
      type: File
    as_narrowPeak_file:
      doc: Definition narrowPeak file in AutoSql format (used in bedToBigBed)
      type: File
    as_broadPeak_file:
      doc: Definition broadPeak file in AutoSql format (used in bedToBigBed)
      type: File
    nthreads:
      default: 1
      type: int
 outputs:
    output_filtered_read_count_file:
      doc: Filtered read count reported by MACS2
      type: File[]
      outputSource: count-reads-filtered/read_count_file
    output_spp_cross_corr_plot:
      doc: peakshift/phantomPeak results file
      type: File[]
      outputSource: spp/output_spp_cross_corr_plot
    output_spp_x_cross_corr:
      doc: peakshift/phantomPeak results file
      type: File[]
      outputSource: spp/output_spp_cross_corr
{% for peak_type in ["narrow", "broad"] %}
    output_{{ peak_type }}peak_count:
      doc: Peak counts within replicate
      type: File[]
      outputSource: count-{{ peak_type }}peaks/output_counts
    output_read_in_{{ peak_type }}peak_count_within_replicate:
      doc: {{ peak_type }}Peak counts within replicate
      type: File[]
      outputSource: extract-count-reads-in-{{ peak_type }}peaks/output_read_count
    output_{{ peak_type }}peak_file:
      doc: peakshift/phantomPeak results file
      type: File[]
      outputSource: {{ peak_type }}Peak-calling/output_peak_file
    output_{{ peak_type }}peak_bigbed_file:
      doc: Peaks in bigBed format
      type: File[]
      outputSource: {{ peak_type }}peaks-bed-to-bigbed/bigbed
    output_{{ peak_type }}peak_xls_file:
      doc: Peak calling report file (*_peaks.xls file produced by MACS2)
      type: File[]
      outputSource: {{ peak_type }}Peak-calling/output_peak_xls_file
    output_{{ peak_type }}peak_summits_file:
      doc: File containing peak summits
      type:
        type: array
        items:
        - 'null'
        - items: File
          type: array
      outputSource: {{ peak_type }}Peak-calling/output_peak_summits_file
{%- endfor %}
 steps:
    spp:
      run: ../spp/spp.cwl
      scatterMethod: dotproduct
      scatter:
      - input_bam
{% if "control" in sample_types %}
      - control_bam
{% endif %}
      in:
{% if "control" in sample_types %}
        control_bam: input_control_bam_files
{% endif %}
        input_bam: input_bam_files
        nthreads: nthreads
        savp:
          valueFrom: ${return true}
      out:
      - output_spp_cross_corr
      - output_spp_cross_corr_plot
    extract-peak-frag-length:
      scatter: input_spp_txt_file
      run: ../spp/extract-best-frag-length.cwl
      in:
        input_spp_txt_file: spp/output_spp_cross_corr
      out:
      - output_best_frag_length
{% for peak_type in ["narrow", "broad"] %}
    {{ peak_type }}Peak-calling:
      run: ../peak_calling/macs2-callpeak.cwl
      scatterMethod: dotproduct
      scatter:
      - extsize
      - treatment
{% if "control" in sample_types %}
      - control
{% endif %}
      in:
{% if "control" in sample_types %}
        control: input_control_bam_files
{% endif %}
        treatment:
          source: input_bam_files
          valueFrom: $([self])
        extsize: extract-peak-frag-length/output_best_frag_length
        nomodel:
          valueFrom: ${return true}
        g: genome_effective_size
        format:
          valueFrom: BAM{% if read_type == 'pe' %}PE{% endif %}
{% if peak_type == "broad" %}
        broad:
            valueFrom: ${return true}
{% endif %}
      out:
      - output_peak_file
      - output_peak_summits_file
      - output_peak_xls_file

    trunk-{{ peak_type }}peak-score:
      scatter: peaks
      run: ../utils/trunk-peak-score.cwl
      in:
        peaks: {{ peak_type }}Peak-calling/output_peak_file
      out:
      - trunked_scores_peaks
    {{ peak_type }}peaks-bed-to-bigbed:
      run: ../quant/bedToBigBed.cwl
      scatter: bed
      in:
        type:
          valueFrom: bed6+4
        as: as_{{ peak_type }}Peak_file
        genome_sizes: input_genome_sizes
        bed: trunk-{{ peak_type }}peak-score/trunked_scores_peaks
      out:
      - bigbed
    filter-reads-in-{{ peak_type }}peaks:
      scatterMethod: dotproduct
      scatter:
      - input_bam_file
      - input_bedfile
      run: ../peak_calling/samtools-filter-in-bedfile.cwl
      in:
        input_bam_file: input_bam_files
        input_bedfile: {{ peak_type }}Peak-calling/output_peak_file
      out:
      - filtered_file
    extract-count-reads-in-{{ peak_type }}peaks:
      run: ../peak_calling/samtools-extract-number-mapped-reads.cwl
      scatter: input_bam_file
      in:
        output_suffix:
          valueFrom: .read_count.in_{{ peak_type }}peaks.txt
        input_bam_file: filter-reads-in-{{ peak_type }}peaks/filtered_file
      out:
      - output_read_count
    count-{{ peak_type }}peaks:
      run: ../utils/count-with-output-suffix.cwl
      scatter: input_file
      in:
        output_suffix:
          valueFrom: .peak_count.within_replicate.txt
        input_file: {{ peak_type }}Peak-calling/output_peak_file
      out:
      - output_counts
{%- endfor %}
    count-reads-filtered:
      run: ../peak_calling/count-reads-after-filtering.cwl
      scatter: peak_xls_file
      in:
        peak_xls_file: narrowPeak-calling/output_peak_xls_file
      out:
      - read_count_file
