{
    "input_fastq_read1_files": [
    {% for samples in samples_list %}
        { "class": "File", "path": "{{ data_dir }}/{{ wf_conf['iter'] }}/{{ samples }}{% if 'pe' == wf_conf['rt'] %}.R1{% endif %}.fastq" }{% if loop.index < samples_list|length %},{% endif %}
    {% endfor %}
    ],
{% if 'pe' == wf_conf['rt'] %}
    "input_fastq_read2_files": [
    {% for samples in samples_list %}
        { "class": "File", "path": "{{ data_dir }}/{{ wf_conf['iter'] }}/{{ samples }}.R2.fastq" }{% if loop.index < samples_list|length %},{% endif %}
    {% endfor %}
    ],
{% endif %}
    "default_adapters_file": { "class": "File", "path": "/data/reddylab/projects/GGR/auxiliary/adapters/default_adapters.fasta" },
    "genome_sizes_file": { "class": "File", "path": "/data/reddylab/projects/GGR/auxiliary/hg38.sizes" },
    "sjdbOverhang": "49",
    "annotation_file": {"class": "File", "path": "/data/reddylab/Reference_Data/Gencode/v22/gencode.v22.annotation.gtf"},
    "genome_fasta_files": [
        {"class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"}
    ],
    "genomeDirFiles": [
        {"class": "File", "path": "{{ genomeDir }}/Genome"},
        {"class": "File", "path": "{{ genomeDir }}/SA"},
        {"class": "File", "path": "{{ genomeDir }}/SAindex"},
        {"class": "File", "path": "{{ genomeDir }}/chrLength.txt"},
        {"class": "File", "path": "{{ genomeDir }}/chrName.txt"},
        {"class": "File", "path": "{{ genomeDir }}/chrNameLength.txt"},
        {"class": "File", "path": "{{ genomeDir }}/chrStart.txt"},
        {"class": "File", "path": "{{ genomeDir }}/exonGeTrInfo.tab"},
        {"class": "File", "path": "{{ genomeDir }}/exonInfo.tab"},
        {"class": "File", "path": "{{ genomeDir }}/geneInfo.tab"},
        {"class": "File", "path": "{{ genomeDir }}/genomeParameters.txt"},
        {"class": "File", "path": "{{ genomeDir }}/sjdbInfo.txt"},
        {"class": "File", "path": "{{ genomeDir }}/sjdbList.fromGTF.out.tab"},
        {"class": "File", "path": "{{ genomeDir }}/sjdbList.out.tab"},
        {"class": "File", "path": "{{ genomeDir }}/transcriptInfo.tab"}
    ],
    "rsem_reference_files": [
        {"class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/RSEM_genome.transcripts.fa"},
        {"class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/RSEM_genome.ti"},
        {"class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/RSEM_genome.seq"},
        {"class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/RSEM_genome.idx.fa"},
        {"class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/RSEM_genome.grp"},
        {"class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/RSEM_genome.n2g.idx.fa"},
        {"class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/RSEM_genome.chrlist"}
    ],
{% if 'pe' == wf_conf['rt'] %}
    "bamtools_forward_filter_file": {"class": "File", "path": "/data/reddylab/projects/GGR/auxiliary/quantification/forward_filter.txt"},
    "bamtools_reverse_filter_file": {"class": "File", "path": "/data/reddylab/projects/GGR/auxiliary/quantification/reverse_filter.txt"},
{% endif %}
    "nthreads_qc": {{ nthreads }},
    "nthreads_trimm": {{ nthreads }},
    "nthreads_map": {{ nthreads }},
    "nthreads_peakcall": {{ nthreads }},
    "nthreads_quant": {{ nthreads }},
    "trimmomatic_jar_path": "/data/reddylab/software/Trimmomatic-0.32/trimmomatic-0.32.jar",
    "trimmomatic_java_opts": "-Xms{{ (mem/2) | round | int }}m -Xmx{{ mem }}m"
}
