{
    "input{% if 'control' in wf_conf['st'] %}_treatment{% endif %}_fastq{% if 'pe' == wf_conf['rt'] %}_read1{% endif %}_files": [
    {% for samples in samples_list %}
        { "class": "File", "path": "{{ data_dir }}/{{ samples['iter'] }}/{{ samples['treatment'] }}{% if 'pe' == wf_conf['rt'] %}.R1{% endif %}.fastq" }{% if loop.index < samples_list|length %},{% endif %}
    {% endfor %}
    ],
{% if 'pe' == wf_conf['rt'] %}
    "input{% if 'control' in wf_conf['st'] %}_treatment{% endif %}_fastq_read2_files": [
    {% for samples in samples_list %}
        { "class": "File", "path": "{{ data_dir }}/{{ samples['iter'] }}/{{ samples['treatment'] }}.R2.fastq" }{% if loop.index < samples_list|length %},{% endif %}
    {% endfor %}
    ],
{% endif %}
{% if 'control' in wf_conf['st'] %}

    "input_control_fastq{% if 'pe' == wf_conf['rt'] %}_read1{% endif %}_files": [
    {% for samples in samples_list %}
        { "class": "File", "path": "{{ data_dir }}/{{ samples['iter'] }}/{{ samples['control'] }}{% if 'pe' == wf_conf['rt'] %}.R1{% endif %}.fastq" }{% if loop.index < samples_list|length %},{% endif %}
    {% endfor %}
    ],
    {% if 'pe' == wf_conf['rt'] %}
    "input_control_fastq_read2_files": [
    {% for samples in samples_list %}
        { "class": "File", "path": "{{ data_dir }}/{{ samples['iter'] }}/{{ samples['control'] }}.R2.fastq" }{% if loop.index < samples_list|length %},{% endif %}
    {% endfor %}
    ],
    {% endif %}
{% endif %}
    "default_adapters_file": { "class": "File", "path": "/data/reddylab/projects/GGR/auxiliary/adapters/default_adapters.fasta" },
    "genome_ref_first_index_file": { "class": "File", "path": "/data/reddylab/Reference_Data/Genomes/hg38/GCA_000001405.15_GRCh38_no_alt_analysis_set.1.ebwt"},
    "genome_sizes_file": { "class": "File", "path": "/data/reddylab/projects/GGR/auxiliary/hg38.sizes" },
    "ENCODE_blacklist_bedfile": { "class": "File", "path": "/data/reddylab/Reference_Data/ENCODE/hg38.blacklist.bed" },
    "nthreads_qc": {{ nthreads }},
    "nthreads_trimm": {{ nthreads }},
    "nthreads_map": {{ nthreads }},
    "nthreads_peakcall": {{ nthreads }},
    "nthreads_quant": {{ nthreads }},
    "trimmomatic_jar_path": "/data/reddylab/software/Trimmomatic-0.32/trimmomatic-0.32.jar",
    "trimmomatic_java_opts": "-Xms{{ (mem/2) | round | int }}m -Xmx{{ mem }}m",
    "picard_jar_path": "/data/reddylab/software/picard/dist/picard.jar",
    "picard_java_opts": "-Xms{{ (mem/2) | round | int }}m -Xmx{{ mem }}m"
}
